@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@400;600&display=swap");

* {
	font-family: "Anuphan", sans-serif;
}

.container {
	width: 1400px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 1.5rem 0;
}

header h1 {
	margin: 0;
}

.nav-link {
	padding: 0 1rem !important;
}

table {
	width: 100%;
	table-layout: fixed;
	overflow-wrap: break-word;
}

th,
td {
	border-bottom: 1px solid black;
	padding: 0.8rem;
}

th {
	font-weight: 600;
	text-align: left;
}

td {
	font-weight: 400;
}

button {
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.75;
	letter-spacing: 0.02857em;
	text-transform: uppercase;
	min-width: 64px;
	padding: 6px 16px;
	border-radius: 4px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
		color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	color: rgb(255, 255, 255);
	background-color: rgb(25, 118, 210);
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
		rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}

label {
	display: block;
	margin: 2rem 0;
	width: 480px;
}

input {
	float: right;
	border: 1px solid black;
	border-radius: 3px;
	padding: 0.4rem;
	width: 250px;
}

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background: #212529;
	color: white;
	padding: 1rem;
	font-size: 1rem;
	animation-duration: 5s;
	animation-name: changeColor;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.youtube svg {
	fill: red;
	margin-right: 0.5rem;
}

@keyframes changeColor {
	from {
		color: aqua;
	}

	to {
		color: white;
	}
}
